*{
    margin: 0;
    padding: 0;
    gap: 0;
}

:root{
    --stclr: #59CBE8;
    --stclr_shade: #00BCE1;
    --ndclr: #E93CAC;
    --rdclr: #1E22AA;
    --thclr: #201547;
    --thclr_shade: #051C2C;
    --white: #FFFFFF;
    --black: #000000;
}

.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background-color:var(--thclr);
    color: aliceblue;
    display:flex;
}